
body {font-family: Arial, Helvetica, sans-serif;}
input[type=text], select, textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
h2{
    background-color:lightblue;
    text-align: right;
}
</style>