body{font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:orange;
}
img{
    float: right;
}
    h1{text-align: center;
        color:blue;
        background-color: lightblue;}
        

    }

