body{
    border-style: solid;
    border-width: 15px;
    border-color: darkgoldenrod;
}
hr{
    border-top: 2px solid black;  
}
#details td, th{
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
}

#details {
    width: 100%;
    border-collapse: collapse;
    
}
h3{
   padding-left: 30px;
   padding-top: 10px;;
}
p{
    padding-left:30px;
}
h4{
    padding-left:30px;
}
#container{
    padding: 10px 30px 10px 30px
}
#education {
    padding-bottom: 15px;
}
#left-info{
    float: left;
}
#right-info{
    float: right;
}
section:after {
    content: "";
  clear: both;
  display: table;
}
