
       
    h1{

    text-align: right;
    background-color: blue;
     }
    h2{

        text-align: right;
        background-color: blue;

      }
    h3{

    text-align: right;
    background-color: blue;


     }