.a1 {
        color: blue;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-style: initial;
    }
.a2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
label{
        width: 200px;
        display: inline-block;
    }
/* input {
    text-align: center;
          } */
fieldset{
            text-align: center;
        }