

.button{
    text-align:center;
    /* padding-top: 15px; */
}
.Body-Container{
    background-color: #23d34f;
}
header {
    background-color:rgb(241, 22, 168);
    padding: 1px;
    text-align: center;
    font-size: 25px;
    color: #282c29
}
h3,h2{
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
    font-size: x-large;
    color: rgb(179, 48, 48);
}
.text{
    text-align: center;
}