.frmt_cls{
    background-color:grey;
    border-style: outset;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.fnt_cls{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}