.frmt_cls{
    background-color:blanchedalmond;
    border-style: outset;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.fnt_cls{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
label{
    display:inline-block;
    width:200px;
    text-align: right;
}
.abc{
    background-color: rgb(0,0,0);
    color:white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 70%;
    padding: 20px;
    text-align: center;
}
.body_img
{
    background-image: url("SSS.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
