h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: rgb(163, 163, 235);
    }
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: rgb(163, 163, 235);
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: rgb(163, 163, 235);
}