.label-heighlight
    {
    font-weight: bold;
    }
.main-heading,.details-container,.Academic-container
    {
     background-color: rgb(148, 188, 226);
     text-align:right;
     border-radius: 0px 10px;
    }
body
    {
     font-family: Arial, Helvetica, sans-serif;
    }
.details-container,.Academic-container
    {
     font-style:italic;
    }  
    