*{
    margin: 0;
    padding: 0;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    /*background-image: url(../Team2/123.jpg);*/
    /*height: 100vh;*/
    background-size: cover;
    background-position: center;
    /*margin-top: 90px;*/
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 50px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(13, 13, 14);
    padding: 10px 20px;
    border: 1px solid rgb(15, 15, 15);
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:white;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: 100px;    
    margin-left: 50px;
    margin-top: 2px;
}
.img{
    height:"auto"; 
    width:"auto";
    background-position:"center";
    background-repeat:"no-repeat";
    -webkit-filter:"blur 50px"; 
    filter:"blur 50px";
}


.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
  .centered {
    font-style: italic;
    font-size:xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button{
      background-color: rgb(238, 85, 85);
      color: white;
      height: 50;
      width: 100;
      border: none;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      margin: 4px 2px;
      border-radius: 70PX;
      padding: 10px;
  }
  input{
    padding: 10;
    height: 50; 
    width: 150px; 
    font-size: large ; 
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  label{
    padding: 10;
    height: 50; 
    width: 150px; 
    font-size: large ; 
    text-align: center;
  }