body{background-color: rgb(167, 135, 31);}

.row{
    width:100%;
    display:flex;
}
.column{
    display:inline-block;
    padding:15px;
}
.column > img {
    width: 300px;
}
.website-title{
    text-align: center;
}
.navigation{
    text-align: center;
}
.nav{
    display: inline-block;
    
}
.nav > a {
    padding: 10px;
}