.bgcolor{
    background-color:  rgb(236 199 94);
    
}
header {
    background-color: rgb(204 113 20);
    padding: 1px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
.table-content{
    border: solid;
    border-collapse: collapse;
    
}