.left {
    height: 200px;
    width: 200px;
    float: left;
    clear: left;
}
.right {
    height: 200px;
    width: 200px;
    float: right;
    clear: right;
}
.over {
    float:right;
    border:2px solid cyan;
    background-color: cyan;
    height: 200px;
    width: 550px;
    overflow: auto;
}
.over1 {
    float:left;
    border:2px solid cyan;
    background-color: cyan;
    height: 200px;
    width: 550px;
    margin-left: 40px;
    overflow: auto;
}
.outer {
    border:2px solid red;
    background-color : cyan; 
    height: 700px;
    width: 800px;
    padding: 70px;
}
    