<style>
    label{
    width: 240px;
    display: inline-block;
    /text-align: left;/
    }
    {
      box-sizing: border-box;
     }
     h1 {text-align: center;}
     .bg{
        background-image: url("nature1.jpg");
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
   .bg-t {
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0, 0.4); 
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }
</style>