.inner-container{
    width: 100%;
    padding: 20px 0px;
    clear: both;
}
.float-right{
    float: right;
    }

.float-left {
    float: left;
 }
 .content{
width: 70%;

 }
 .image{
width: 20%;
 }
 .image>img{
     width: 100%;

 }
 .body-container{
     background-color: #aae8e3;
     padding: 20px;
 }